@import '../../assets/styles/variables.scss';
@import '../../assets//styles/light.scss';

.list {
  margin-top: calc(#{$header-height} + 48px);
  width: $container-width;
  padding-left: $padding-left;
  &__filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 55px;
    input {
      height: 100%;
      width: 405px;
      border: none;
      background-color: $secondary-bg;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(100, 100, 100, 0.1);
      padding-left: 73px;
      font-size: 14px;
      &::placeholder {
        font-family: 'Nunito Sans';
        font-weight: 300;
      }
    }
  }
  &__search-input {
    position: relative;
  }
}
