@import '../../assets/styles/variables.scss';
@import '../../assets//styles/light.scss';

$region-width: 200px;
$box-shadow: 0px 0px 5px 1px rgba(100, 100, 100, 0.1);;

.filter {
  &__filters {
    margin-top: calc(#{$header-height} + 48px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 55px;
    input {
      height: 100%;
      width: 476px;
      border: none;
      background-color: $secondary-bg;
      border-radius: 5px;
      box-shadow: $box-shadow;
      padding-left: 73px;
      font-size: 14px;
      &::placeholder {
        font-family: 'Nunito Sans';
        font-weight: 300;
      }
    }
  }
  &__search-input {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__search-icon {
    position: absolute;
    left: 30px;
  }
  &__region {
    height: 100%;
    width: $region-width;
    border-radius: 5px;
    padding: 0 20px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-bg;
    box-shadow: $box-shadow;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }
  &__regions-list {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 100%;
    border-radius: 5px;
    background-color: $secondary-bg;
    padding: 10px 0;
    box-shadow: $box-shadow;
    p {
      margin: 0;
      padding: 5px 25px;
      &:hover {
        background-color: $body-bg;
      }
    }
  }
}
