@import './assets/styles/light.scss';

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 800;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: bold;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 300;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-Light.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 100;
  src: url('./assets/fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf');
}

body {
  margin: 0;
  font-family: 'Nunito Sans';
  background-color: $body-bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
